img {
  max-width: 100%;
  max-height: 325px;
  object-fit: cover;
  border-radius: 12px;
  margin: 1rem 0;
  align-self: center;
}

input {
  display: none;
}

.row-end {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#count {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem 1rem;
  justify-items: center;
  margin: 1rem 0;
}
