.image-container {
  max-height: 375px;
  margin: 1rem 0;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  align-self: center;
  max-height: 375px;
}

input {
  display: none;
}

.row-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#count {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem 1rem;
  justify-items: center;
  margin: 1rem 0;
}
