body {
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  min-width: 375px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: sans-serif;
  color: white;
}

.main {
  padding: 50px 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  @media (min-width: 500px) {
    grid-template-columns: 50px 1fr 50px;
  }
  justify-items: center;
}

.content {
  grid-column: 2;
  min-width: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 25px;
  background: #060023;
  box-shadow: 0 0 10px #0a0000;
}


.disappear {
  display: none;
}

h1 {
  word-break: break-word;
  margin: 0;
}

h2 {
  word-break: break-word;
}

button {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 12px;
  background: none;
  color: white;
  max-width: 200px;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}

.blue {
  color: #3f5efb;
}

.purple {
  color: #9c52b4;
  transition: ease-in-out .5s;
}

.red {
  color: #fa466c;
}
